a.urunadi {color: black; font-size: 13px;}
a.urunadi:hover, a.ex1:active {color: black; text-decoration: none;}

.allbrands{
    width: 662px;
    height: 52px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    padding: 8px; 
    background: #fcfcfc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: black;
    
}